body {
    background-color: rgb(179, 7, 56);
  }
h1 {
    color: white;
    margin: -20px;
    padding: 30px;
    text-align: center;
    text-decoration: underline;
}
  
  p {
    color: white;
    padding: 10px;
    text-align: center;
  }
body {
    margin: -10px;
    
}
